name: Test

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install bash (macos only)
        if: startsWith(matrix.os, 'macos')
        run: brew install bash
      - name: git config
        run: git config --global user.email "you@example.com";
          git config --global user.name "Your Name";
          git config --global init.defaultBranch "master";
          git config --global --add safe.directory "$PWD";
          git config --global --add safe.directory "$PWD.git";
      - if: startsWith(matrix.os, 'macos')
        run: uv run poe all
